form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #edf2f4;
  flex: 1 1 300px;

  p {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 18px 0;

    &.error-msg{
      color: red;
    }
  }

  input {
    font-size: 20px;
    width: 300px;
    height: 48px;
    margin: 0 0 8px 0;
    padding: 8px;
    border: none;
    border-radius: 6px;

    &::placeholder {
      color: rgb(163, 186, 194);
    }

    &[type='submit'] {
      background-color: #6f95ac;
      color: white;
      font-weight: 500;
    }
  }
  .image-wrapper {
    width: 300px;
    img {
      margin: 16px auto 24px auto;
      display: block;
      max-width: 70%;
    }
  }

  .date-wrapper {
    display: flex;

    .date-wrapper__inner {
      display: flex;
      flex-direction: column;

      &:first-of-type{
        margin-right: 8px;
      }

      input {
        width: 146px;
      }
    }
  }
}
